.markdowns{
  margin-top:2rem ;
}
.icons{
  border-bottom: 1px solid #888;
  align-items: center;
  display: flex;
}

.inputarea{
  height: 20rem;
  border: 1px solid #888;
}
.textview{
  
  border: 1px solid #888;
}